@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
@import 'header';
@import "mediaQueries";
@import "footer";
@import "variable";

.header__text {
  display: none;
}

.main__404 {
  text-align: center;


  img {
    width: 60%;
    margin: 5% 0%;
  }

  h2 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 5%;
  }

  a {
    font-size: 2em;
    color: white;
    background-color: $btn_color;
    padding: 0em 2em;
    font-weight: 700;
    border-radius: 5px;
  }
}