//////////// main ////////////////////////////
.main {
  display: flex;
  justify-content: space-between;
  padding: 2em 3em 2em 1em;
  font-weight: 700;


  &__img {
    width: 48%;
    height: 42em;
  }

  &__text {
    padding-top: 2em;

    img {
      width: 7em;
      margin-left: 47%;
    }

    a {
      color: white;
      font-size: 3em;
    }

  }

  &__btn {
    margin-top: 1em;
    background-color: $btn_color;
    padding: .7em 16em;
    text-align: center;
    border-radius: 5px;
  }

  &__parag {
    text-align: center;
    line-height: 1.6;
    font-size: 2.3em;
    color: $color2;

    &--color {
      color: $btn_color;
    }
  }
}


//////////////symptomes////////////////
.symptomes {
  width: 65%;
  margin: 2em auto;

  &__image {
    width: 60% !important;

    &--marge {
      width: 55% !important;
    }
  }

  &__title {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    color: $btn_color;
  }

  &__categories {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }



  &__categorie {
    &--1 {
      margin-left: 6em;
    }

    &--2 {
      margin-left: 4em;
    }

    img {
      width: 60%;
      margin-bottom: 3em;
    }

    &__parag {
      font-size: 2.7em;
      font-weight: 700;
    }
  }


}

