//////////// main //////////////////////////
.main {
  display: flex;
  justify-content: space-between;
  padding: 2em 3em 2em 1em;
  font-weight: 700;


  &__img {
    width: 48%;
    height: 42em;
  }

  &__text {
    padding-top: 2em;

    img {
      width: 7em;
      margin-left: 47%;
    }

    a {
      color: white;
      font-size: 3em;
    }

  }

  &__btn {
    margin-top: 1em;
    background-color: $btn_color;
    padding: 0.3em 4em;
    text-align: center;
    border-radius: 5px;
  }

  &__parag {
    text-align: center;
    line-height: 1.6;
    font-size: 2.3em;
    color: $color2;

    &--color {
      color: $btn_color;
    }
  }
}

//////////////symptomes////////////////