* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 1rem;
  text-decoration: none;
  font-family: 'Cairo',
    sans-serif;
}


*:before,
*:after {
  box-sizing: inherit;
}


$color2 :#7F7F7F;
$btn_color :#1078ad;
$bg_color : #F4CF1B;
$num_color :#369D53;
$ot_color :#D0E5F0;
$bg_test :#96C5DC;
$text_color:#1A519E;