@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
@import 'header';
@import "mediaQueries";
@import "footer";
@import "variable";


.main {
  &__conseil {
    color: $btn_color;
    text-align: center;
    width: 80%;
    margin: 0em auto;

    &__title {
      font-size: 2.7em;
      font-weight: 700;
      margin: 1.6% 0%;
    }

    &__img {
      &--marg {
        margin-top: 14%;
        width: 11em !important;
      }
    }

    &__protections {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

    }

    &__protection {
      margin-bottom: 3%;
      width: 30%;

      &--marg {
        width: 100%;
      }

      img {
        width: 9em;

      }

      p {
        font-size: 1.5em;
        font-weight: 700;
        line-height: 1.7;
        margin: 5% 0%;
      }
    }
  }

  &__info {
    background-color: $ot_color;
    display: flex;
    justify-content: space-between;
    padding: 5% 10%;
    text-align: center;
    align-items: center;

    &__title {
      color: $btn_color;
      font-size: 2.5em;
      font-weight: 700;
      margin-bottom: 10%;
    }

    &__parag {
      color: $text_color;
      font-weight: 700;
      line-height: 1.8;
      font-size: 2em;
    }

    &__links {
      width: 60%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      a {
        width: 13em;
        color: white;
        background-color: $btn_color;
        padding: 2% 1%;
        border-radius: 5px;
        font-weight: 700;
      }
    }
  }

  &__symptomes {
    text-align: center;

    &__title {
      color: $btn_color;
      font-size: 2.5em;
      font-weight: 700;
      margin: 3%;

      &--marg {
        margin: 5% 0%;
      }
    }

    &__surv {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 60%;
      margin: 5% auto;
    }
  }

  &__symptome {
    width: 50%;

    &--img {
      width: 4em !important;
    }

    img {
      width: 7em;
      margin-bottom: 5%;
    }

    p {
      font-weight: 700;
      font-size: 2em;
    }

    &--parag {
      color: $btn_color;
      font-size: 1.7em !important;
    }
  }

  &__symptomes2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
  }

}