@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
@import 'header';
@import "acceuil";
@import "mediaQueries";
@import "footer";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 1rem;
  text-decoration: none;
  font-family: 'Cairo',
    sans-serif;
}