@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
@import 'header';
@import "acceuil";
@import "mediaQueries";
@import "footer";
@import "variable";

body {
    overflow-x: hidden;
}

.header__text {
    display: none;
}

.h3__active {
    margin-top: -0.5em;
}

.main {
    &__info {
        text-align: center;
        margin-bottom: 3%;

        &__img {
            width: 1.5em;
            height: 1.5em;

            &--active {
                border: 10px solid $btn_color;
                border-radius: 50%;
                margin-top: -0.7em;
            }
        }

        a {
            color: white;
            padding: 0% 1%;
            background-color: $btn_color;
            border-radius: 5px;
            font-size: 2em;
            font-weight: 700;

        }
    }

    &__tags {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: 3% auto;
    }

    &__img {
        width: 1.5em;
        height: 1.5em;

        &--active {
            border: 10px solid $btn_color;
            border-radius: 50%;
            margin-top: -0.7em;
        }
    }

    &__tag {
        h3 {
            color: $btn_color;
            font-weight: 700;
        }
    }

    &__Preambule {
        width: 60%;
        margin: 2% auto;
        background-color: $bg_test;
        padding: 3% 2% 4%;
        border-radius: 5px;

        h3 {
            color: $btn_color;
            font-weight: 700;
            font-size: 2em;

        }

        p {
            margin: 2% 0;

        }
    }

    &__questionnaire {
        text-align: center;
    }
}




/////////////////js////////////////
.affiche {
    display: none;
}

form {
    border: 3px solid $bg_test;
    border-radius: 1em;
    padding: 2em 4em;
    max-width: 65%;
    margin: 0em auto;
}

.barNumber {
    border: 3px solid $bg_test;
    border-radius: 1em;
    margin-bottom: 1em;
}

.questions {
    p {
        font-weight: 700;
        font-size: 2em;
        color: $color2;
    }
}




.reponces {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.inputs {
    display: flex;
    justify-content: space-between;

    #precedent,
    #suivant {
        border: 1px dotted $text_color;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 1.5em;
        font-weight: 600;
        background-color: $btn_color;
    }

}